.new-yorker {
  height: 400px;
  width: 400px;
  margin: auto;
 
}

.picture {
  height: 400px;
  width: 400px;
}

.cartoon {
  margin-bottom: 20px;
  
}

.caption {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(87, 82, 82);
  margin-bottom: 10px;
  height: 18.4px;
}